DOMAIN_NAME=pibreiss.42.fr

SQL_DATABASE=wordpress_db
SQL_USER=PA

WP_TITLE=Inception
WP_ADMIN_USER=godmod
WP_ADMIN_EMAIL=godmod@student.42.fr
WP_USER=basic_user
WP_USER_EMAIL=basic_user@student.42.fr
WP_USER_PASSWORD=change_me
